<div class="card text-center">
  <div class="card-header text-primary">
    Hello adventurer!
  </div>
  <div class="card-body ">
    <h5 class="card-title">Take a deep breath and dive down a rabbit hole of art!</h5>
    <p class="card-text">
      <form id="search" action="/search">
        <label for="search_box">Start your search here: </label>
        <input type="text" id="search_box" name="search_input">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </p>
  </div>
  <div class="card-footer">
    Or dive into some suggested categories
  </div>
</div>

<hr>

<div class="container">
  <div class="row align-items-end text-center">
    <div class="col mb-4">
      <h4>Artist</h4>
    </div>
    <div class="col mb-4">
      <h4>Style</h4>
    </div>
    <div class="col mb-4">
      <h4>Medium</h4>
    </div>
  </div>
  <div class="row align-items-center">
    <div class="col">
      <ul class="list-unstyled">
        <a href = "/search/artist/claude_monet">
          <li class="media mt-2 mb-2">
            <img class="align-self-center mr-3" src=<%=image_url('monet.jpg')%> height = "128" width = "128">
            <div class="media-body pagination-centered align-self-center">
              <h6>Claude Monet</h6>
            </div>
          </li>
        </a>
        <a href = "/search/artist/andy_warhol">
          <li class="media mt-2 mb-2">
            <img class="align-self-center mr-3" src=<%=image_url('warhol.jpg')%> height = "128" width = "128">
            <div class="media-body pagination-centered align-self-center">
              <h6>Andy Warhol</h6>
            </div>
          </li>
        </a>
        <a href = "/search/artist/salvador_dali">
          <li class="media mt-2 mb-2">
            <img class="align-self-center mr-3" src=<%=image_url('dali.jpeg')%> height = "128" width = "128">
            <div class="media-body pagination-centered align-self-center">
              <h6>Salvador Dali</h6>
            </div>
          </li>
        </a>
        <a href = "/search/artist/cindy_sherman">
          <li class="media mt-2 mb-2">
            <img class="align-self-center mr-3" src=<%=image_url('sherman.jpg')%> height = "128" width = "128">
            <div class="media-body pagination-centered align-self-center">
              <h6>Cindy Sherman</h6>
            </div>
          </li>
        </a>

        <a href = "/search/artist/basquiat">
          <li class="media mt-2 mb-2">
            <img class="align-self-center mr-3" src=<%=image_url('basquiat.jpg')%> height = "128" width = "128">
            <div class="media-body pagination-centered align-self-center">
              <h6>Jean-Michel Basquiat</h6>
            </div>
          </li>
        </a>

        <a href = "/search/artist/eva_hesse">
          <li class="media mt-2 mb-2">
            <img class="align-self-center mr-3" src=<%=image_url('hesse.jpg')%> height = "128" width = "128">
            <div class="media-body pagination-centered align-self-center">
              <h6>Eva Hesse</h6>
            </div>
          </li>
        </a>
      </div>
      <div class="col">
        <ul class="list-unstyled">
          <a href = "/search/style/TM-7543">
            <li class="media mt-2 mb-2">
              <img class="align-self-center mr-3" src=<%=image_url('impressionism.jpg')%> height = "128" width = "128">
              <div class="media-body pagination-centered align-self-center">
                <h6>Impressionism</h6>
              </div>
            </li>
          </a>
          <a href = "/search/style/TM-7208">
            <li class="media mt-2 mb-2">
              <img class="align-self-center mr-3" src=<%=image_url('minimalism.jpg')%> height = "128" width = "128">
              <div class="media-body pagination-centered align-self-center">
                <h6>Minimalism</h6>
              </div>
            </li>
          </a>
          <a href = "/search/style/TM-7548">
            <li class="media mt-2 mb-2">
              <img class="align-self-center mr-3" src=<%=image_url('realism.jpeg')%> height = "128" width = "128">
              <div class="media-body pagination-centered align-self-center">
                <h6>Realism</h6>
              </div>
            </li>
          </a>
          <a href = "/search/style/TM-5979">
            <li class="media mt-2 mb-2">
              <img class="align-self-center mr-3" src=<%=image_url('expressionism.jpeg')%> height = "128" width = "128">
              <div class="media-body pagination-centered align-self-center">
                <h6>Expressionism</h6>
              </div>
            </li>
          </a>
          <a href = "/search/style/TM-7551">
            <li class="media mt-2 mb-2">
              <img class="align-self-center mr-3" src=<%=image_url('surrealism.png')%> height = "128" width = "128">
              <div class="media-body pagination-centered align-self-center">
                <h6>Surrealism</h6>
              </div>
            </li>
          </a>
          <a href = "/search/style/TM-7221">
            <li class="media mt-2 mb-2">
              <img class="align-self-center mr-3" src=<%=image_url('popart.jpg')%> height = "128" width = "128">
              <div class="media-body pagination-centered align-self-center">
                <h6>Pop Art</h6>
              </div>
            </li>
          </a>
        </div>
        <div class="col">
          <ul class="list-unstyled">
            <a href = "/search/medium/<%=@medium_hash["painting"]%>">
              <li class="media mt-2 mb-2">
                <img class="align-self-center mr-3" src=<%=image_url('painting.jpg')%> height = "128" width = "128">
                <div class="media-body pagination-centered align-self-center">
                  <h6>Painting</h6>
                </div>
              </li>
            </a>
            <a href = "/search/medium/<%=@medium_hash["sculpture"]%>">
              <li class="media mt-2 mb-2">
                <img class="align-self-center mr-3" src=<%=image_url('sculpture.jpg')%> height = "128" width = "128">
                <div class="media-body pagination-centered align-self-center">
                  <h6>Sculpture</h6>
                </div>
              </li>
            </a>
            <a href = "/search/medium/<%=@medium_hash["photograph"]%>">
              <li class="media mt-2 mb-2">
                <img class="align-self-center mr-3" src=<%=image_url('photograph.jpg')%> height = "128" width = "128">
                <div class="media-body pagination-centered align-self-center">
                  <h6>Photograph</h6>
                </div>
              </li>
            </a>
            <a href = "/search/medium/<%=@medium_hash["print"]%>">
              <li class="media mt-2 mb-2">
                <img class="align-self-center mr-3" src=<%=image_url('print.jpg')%> height = "128" width = "128">
                <div class="media-body pagination-centered align-self-center">
                  <h6>Print</h6>
                </div>
              </li>
            </a>
            <a href = "/search/medium/<%=@medium_hash["graphic design"]%>">
              <li class="media mt-2 mb-2">
                <img class="align-self-center mr-3" src=<%=image_url('graphicdesign.jpg')%> height = "128" width = "128">
                <div class="media-body pagination-centered align-self-center">
                  <h6>Graphic Design</h6>
                </div>
              </li>
            </a>
            <a href = "/search/medium/<%=@medium_hash["drawing and watercolor"]%>">
              <li class="media mt-2 mb-2">
                <img class="align-self-center mr-3" src=<%=image_url('drawing.jpg')%> height = "128" width = "128">
                <div class="media-body pagination-centered align-self-center">
                  <h6>Drawing and Watercolor</h6>
                </div>
              </li>
            </a>
          </div>
        </div>

      </div>
